.background-container {
  background: linear-gradient(90deg, rgba(29,185,84,1) 0%, rgba(0,136,255,1) 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
