<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="username">Usuário:</label>
    <input id="username" formControlName="username" type="text" placeholder="Digite seu usuário">
  </div>

  <div>
    <label for="password">Senha:</label>
    <input id="password" [type]="passwordType" formControlName="password" placeholder="Digite sua senha">
    <div class="password-checkbox">
      <input type="checkbox" id="showPassword" (change)="togglePasswordVisibility($event)">
      <label for="showPassword">Mostrar senha</label>
    </div>
  </div>

  <div>
    <label for="email">Email:</label>
    <input id="email" formControlName="email" type="email" placeholder="Digite seu email">
  </div>

  <div>
    <label for="phone">Telefone:</label>
    <input id="phone" formControlName="phone" type="text" placeholder="Digite seu telefone">
  </div>

  <div>
    <label for="age">Idade:</label>
    <input id="age" formControlName="age" type="number" placeholder="Digite sua idade">
    <div *ngIf="loginForm.get('age')?.invalid && loginForm.get('age')?.touched">
      <small *ngIf="loginForm.get('age')?.errors?.['min']">Idade mínima é 16.</small>
      <small *ngIf="loginForm.get('age')?.errors?.['max']">Idade máxima é 99.</small>
    </div>
  </div>

  <div>
    <label for="musicGenre">Gênero Musical:</label>
    <select id="musicGenre" formControlName="musicGenre">
      <option value="">Escolha um gênero</option>
      <option value="rock">Rock</option>
      <option value="pop">Pop</option>
      <option value="jazz">Jazz</option>
      <option value="classical">Clássica</option>
    </select>
  </div>

  <button type="submit" [disabled]="isSubmitDisabled">Cadastrar</button>
</form>
