<div class="background-container">
  <div class="registered-container">
    <h2>Itens Cadastrados</h2>
    <ul>
      <li *ngFor="let item of items$ | async; let i = index">
        <div *ngIf="editingIndex === i">
          <form [formGroup]="editForm" (ngSubmit)="saveEdit()">
            <input formControlName="username" placeholder="Usuário" />
            <div class="password-container">
              <input [type]="passwordType" formControlName="password" placeholder="Senha" />
              <div class="checkbox-group">
                <input type="checkbox" (change)="togglePasswordVisibility($event)" />
                <label>Mostrar senha</label>
              </div>
            </div>
            <input formControlName="email" placeholder="Email" />
            <input formControlName="phone" placeholder="Telefone" />
            <input formControlName="age" placeholder="Idade" type="number" />
            <select formControlName="musicGenre">
              <option *ngFor="let genre of genres" [value]="genre">{{ genre }}</option>
            </select>
            <button type="submit" class="edit-button">Salvar</button>
            <button type="button" (click)="cancelEdit()" class="edit-button">Cancelar</button>
          </form>
        </div>
        <div *ngIf="editingIndex !== i">
          <p><strong>Usuário:</strong> {{ item.username }}</p>
          <p><strong>Senha:</strong> {{ item.password }}</p>
          <p><strong>Email:</strong> {{ item.email }}</p>
          <p><strong>Telefone:</strong> {{ item.phone }}</p>
          <p><strong>Idade:</strong> {{ item.age }}</p>
          <p><strong>Gênero Musical:</strong> {{ item.musicGenre }}</p>
          <button (click)="startEdit(i)" class="edit-button">Editar</button>
          <button (click)="deleteItem(i)" class="delete-button">Deletar</button>
        </div>
      </li>
    </ul>
    <app-back-button (back)="goToInput()"></app-back-button>
  </div>
</div>
